<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Static Website Express Example</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="container">
        <h1>Welcome to the Home Page</h1>
        <nav>
            <a href="#">Home</a>
            <a href="about.html">About</a>
        </nav>
        <img src="images/bobby.png" alt="Bobby" width="400">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae vero quisquam harum incidunt repellendus quam
            esse in, aspernatur perferendis, voluptas culpa earum laudantium recusandae alias doloribus vitae
            consequatur voluptatum mollitia?</p>
    </div>
</body>

</html>